# makepkg build output
**/pkg/
**/src/
**/*.pkg.tar.*
**/*.tar.gz
**/*.src.tar.*
**/*.AppImage

# nested directories inside package folders
*/*/

# common generated signatures
**/*.sig

# hidden dotfiles
.*
!**/.SRCINFO

# db files
**/*.db
