pkgbase = sing-box-extended-bin
	pkgdesc = Sing-box with extended features (binary version).
	pkgver = 1.13.11~extended~2.1.0
	pkgrel = 1
	url = https://github.com/shtorm-7/sing-box-extended
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LicenseRef-sing-box-extended-bin
	provides = sing-box
	conflicts = sing-box
	conflicts = sing-box-git
	conflicts = sing-box-beta
	conflicts = sing-box-extended
	backup = etc/sing-box/config.json
	source = sing-box.service
	source = sing-box@.service
	source = sing-box.sysusers
	source = sing-box.rules
	source = sing-box-split-dns.xml
	source = config.json
	sha256sums = 259fa4ee0a29fb863bd1597eba9392bd9767c679c1e28b8b1ee91ce1ea01c84d
	sha256sums = 0b8740010bb3b2a5b65f1cc444b00127372d015f70f272ed566606949ed2b91b
	sha256sums = 0d0631619b6f680b9a80b9a8f65c7a30f2565e80279182f63c77854051c5d473
	sha256sums = 5a1135cd779a948882702e62b349c19cb72ef56c4af6567bc8f1794ca3b9fbcd
	sha256sums = ebdab3b912603c44b4d76640c5db5c4bc0ca04213d7f34ccaa5e789ba40b426f
	sha256sums = 34649a783dafe07c746c54b66218893dedcab0f5a593498415e749f46da3f654
	source_x86_64 = sing-box-1.13.11-extended-2.1.0-linux-amd64.tar.gz::https://github.com/shtorm-7/sing-box-extended/releases/download/v1.13.11-extended-2.1.0/sing-box-1.13.11-extended-2.1.0-linux-amd64.tar.gz
	sha256sums_x86_64 = 4dbfa3c9419dfb2d900d87d15a9c44fcad00ca0be6b1a33b296c591cca8be1c7
	source_armv7h = sing-box-1.13.11-extended-2.1.0-linux-armv7.tar.gz::https://github.com/shtorm-7/sing-box-extended/releases/download/v1.13.11-extended-2.1.0/sing-box-1.13.11-extended-2.1.0-linux-armv7.tar.gz
	sha256sums_armv7h = 2f7e1adccce7d3b2e81f36d3fd8d325d6b7fc6087ebd1261452a31424d85e4a6
	source_aarch64 = sing-box-1.13.11-extended-2.1.0-linux-arm64.tar.gz::https://github.com/shtorm-7/sing-box-extended/releases/download/v1.13.11-extended-2.1.0/sing-box-1.13.11-extended-2.1.0-linux-arm64.tar.gz
	sha256sums_aarch64 = 83a500ce0053d844465b5d3d5f4becb931ddeab473c2edb1e1d3cf19ee0e6ca0

pkgname = sing-box-extended-bin
